<div class="container mt-3">
  <h2>Dodaj rezerwację</h2>

  @if (errorMessage) {
    <div class="alert alert-danger">
      {{ errorMessage }}
    </div>
  }

  <form [formGroup]="reservationForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label class="form-label">Imię</label>
      <input class="form-control" formControlName="fname">
      @if (fname?.invalid && (fname?.dirty || fname?.touched)) {
        <div class="text-danger">
          @if (fname?.errors?.['required']) {
            <small>Imię jest wymagane.</small>
          } @else if (fname?.errors?.['minlength']) {
            <small>Musi zawierać co najmniej 3 znaki.</small>
          }
        </div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Nazwisko</label>
      <input class="form-control" formControlName="lname">
      @if (lname?.invalid && (lname?.dirty || lname?.touched)) {
        <div class="text-danger">
          @if (lname?.errors?.['required']) {
            <small>Nazwisko jest wymagane.</small>
          } @else if (lname?.errors?.['minlength']) {
            <small>Musi zawierać co najmniej 3 znaki.</small>
          }
        </div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Numer lotu</label>
      <input class="form-control" formControlName="flightNumber">
      @if (flightNumber?.invalid && (flightNumber?.dirty || flightNumber?.touched)) {
        <div class="text-danger">
          @if (flightNumber?.errors?.['required']) {
            <small>Numer lotu jest wymagany.</small>
          } @else if (flightNumber?.errors?.['pattern']) {
            <small>Numer lotu może zawierać tylko DUŻE litery i cyfry. Np.: A123</small>
          }
        </div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Wylot</label>
      <input type="datetime-local" class="form-control" formControlName="departureTime">
      @if (departureTime?.invalid && (departureTime?.dirty || departureTime?.touched)) {
        <div class="text-danger">
          <small>Data wylotu jest wymagana.</small>
        </div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Przylot</label>
      <input type="datetime-local" class="form-control" formControlName="arrivalTime">
      @if (arrivalTime?.invalid && (arrivalTime?.dirty || arrivalTime?.touched)) {
        <div class="text-danger">
          <small>Data przylotu jest wymagana.</small>
        </div>
      }
      @if (reservationForm.errors?.['invalidDates']) {
        <div class="text-danger">
          <small>Data przylotu musi być późniejsza niż data wylotu.</small>
        </div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Klasa</label>
      <select class="form-select" formControlName="class">
        <option value="0">Ekonomiczna</option>
        <option value="1">Biznesowa</option>
        <option value="2">Pierwsza klasa</option>
      </select>
      @if (classField?.invalid && (classField?.dirty || classField?.touched)) {
        <div class="text-danger">
          <small>Klasa jest wymagana.</small>
        </div>
      }
    </div>

    <button [disabled]="reservationForm.invalid" type="submit" class="btn btn-primary">Dodaj rezerwację</button>
  </form>
</div>
